<html>
<head>
  <meta charset="UTF-8">
  <title>Logout</title>
</head>
<body>
  <h1>hello <%=id%></h1>
  <form action="/logout" method="post">
    <button type="submit">로그아웃</button>
  </form>
</body>
</html>